<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.inventoryapp">

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="Inventory"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ItemDetailActivity"
            android:theme="@style/DetailScreenTheme"></activity>
        <activity
            android:name=".MainScreenActivity"
            android:label="Inventory">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".data.ProductProvider"
            android:authorities="com.example.android.inventoryapp"
            android:exported="false" />
    </application>

</manifest>